.footer {
  position: relative;
  padding-top: 16px;
  padding-bottom: 9px;
  border-top: 1px solid #EFEFEF;

  font-size: 12px;
  line-height: 14px;
  color: $grey;
}

.footer__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mob) {
    flex-direction: column;
  }
}

.footer__copyright {
  display: flex;
  @media (max-width: $tablet-sm) {
    flex-direction: column;
    margin-bottom: 5px;
  }
}

.footer__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 28px;
}

.footer__creator-link {
  color: #000;
}
